.App {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
}

body {
    font-family: Verdana, Arial, Tahoma, Serif;
    background-image: linear-gradient(to right, #decba4, #3e5151);
}

p {
    font-size: smaller;
}

button {
    cursor: pointer;
    margin: 1rem 0.3rem;
    padding: 0.5rem;
    border-radius: 20px;
}

li {
    list-style: none;
    padding: 1rem;
    border: 1px solid #d1d5db;
    width: 90%;
    margin: 1rem 0rem;
    border-radius: 0.5rem;
}

ul {
    padding-inline-start: 0;
}

.title {
    font-size: larger;
    font-weight: bold;
}

.description {
    font-size: smaller;
}

.rating {
    font-size: smaller;
    font-weight: bold;
}